body{
    background-color:#e8e8e8;
    width: 100%;
    height: 100%;
}
img{
    width: auto;
    height: auto;
}
.navbar{
position:fixed;
width:100%;
z-index:100;
margin-top:0;
}
a{
color:black;
}
div.shops{
    width: 100%;
    height: 100%;
    padding-top: 100px;

}
.inform{
margin-top:50px;
}
button{
width: 100%;
height:100%;
color:blue;
}

.content{
 width: 100%;
 max-height: 400px; /*Высота блока после которой начнется прокрутка*/
 display: inline-block;
 overflow-x: hidden; /*непосредственно прокрутка*/
 margin: 2px 2px;
padding-top: 1px;
}