<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython_stdlib.js"> </script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Patatos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="rozetka">Розетка</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="agro">Agro-Ukraine<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="fozzy">Fozzy</a>
      </li>
        <li class="nav-item">
            <input id="searchbar" class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search" onkeyup="search()">
        </li>
    </ul>
  </div>
</nav>

<div class=" container-fluid text-center shops">
    <div class="row">
        <div class="offset-xl-2 col-xl-2 offset-lg-2 col-lg-2 col-md-12 col-12">
            <a href="https://agro-ukraine.com/ru/trade/?adv_search=1&lang=ru&form_mode=1&q=%D0%B3%D1%80%D0%B5%D1%87%D0%B0%D0%BD%D0%B0++%7C+%D0%B3%D1%80%D0%B5%D1%87%D0%BD%D0%B5%D0%B2%D0%B0%D1%8F&rgn_id=0&rgn_id_all_sub=0&r_id=59&r_id_all_sub=0&types_id=2&price_from=1&price_to=&price_currency_id=2&sort_mode=3"><img src="/static/agr.png" alt=""></a>
        </div>
    <div class="offset-xl-1 col-xl-6 offset-lg-1 col-lg-6 col-md-12">
        <div class="content">
            {% for i in range(l1.len)%}
        <h6><a href="{{ l[i] }}" class="searching">{{r.username[i]}} {{r.price[i]}}</a></h6>
        {% endfor %}
        </div>
    </div>
    <div class="col-xl-12">
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
</div>
</div>

</div>


</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    var data = google.visualization.arrayToDataTable([
        ['Рік', 'Ціна'],
        ['2017',  19,     ],
        ['2018',  24,     ],
        ['2019',  26,    ],
        ['2020',  31,     ]
    ]);

    var options = {
        title: 'Ціна на гречку (грн/кг)',
        hAxis: {title: 'Рік',  titleTextStyle: {color: '#333'}},
        vAxis: {minValue: 20}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    chart.draw(data, options);
}
</script>
<script type="text/javascript">
function search() {
    let input = document.getElementById('searchbar').value
    input=input.toLowerCase();
    let x = document.getElementsByClassName('searching');

    for (i = 0; i < x.length; i++) {
        if (!x[i].innerHTML.toLowerCase().includes(input)) {
            x[i].style.display="none";
        }
        else {
            x[i].style.display="list-item";
        }
    }
}
</script>
</html>