<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython_stdlib.js"> </script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index">Patatos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="rozetka">Розетка <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="agro">Agro-Ukraine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="fozzy">Fozzy</a>
      </li>
    </ul>
  </div>
</nav>

<div class=" container-fluid text-center shops">
    <div class="row">
        <div class="offset-lg-1 col-lg-3">
            <a href="https://rozetka.com.ua/ua/krupy/c4628397/"><img src="/static/roz.png" alt=""></a>
        </div>
    <div class="offset-lg-1 col-lg-6">
   <div class="content">
        {% for i in range(l1.len)%}
        <h6>{{r.username[i]}} {{r.price[i]}}</h6>
        {% endfor %}
    </div>
    </div>
    <div class="col-lg-12">
        <div id="chart_div" style="width: 100%; height: 500px;"></div>
    </div>
    </div>

    </div>

</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    var data = google.visualization.arrayToDataTable([
        ['Рік', 'Ціна'],
        ['2017',  34,     ],
        ['2018',  28,     ],
        ['20119',  25,    ],
        ['2020',  30,     ]
    ]);

    var options = {
        title: 'Ціна на гречку (грн/кг)',
        hAxis: {title: 'Рік',  titleTextStyle: {color: '#333'}},
        vAxis: {minValue: 20}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    chart.draw(data, options);
}
</script>
</html>